.app {
	background-image: url('./../public/10016725_27302.jpg');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.app::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(115, 171, 110, 0.4));

	z-index: -1;
}

.maze {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

table {
	border-collapse: collapse;
	margin-top:10px;
}

.row {
	display: flex;
}

.cell {
	width: 50px;
	height: 50px;
	border-bottom: 2px solid #222;
	border-right: 2px solid #222;
	background-color: #fff;
	border-top: 2px white;
	border-left: 2px white;
}



.top {
	width: 50px;
	height: 50px;
	border-bottom: 2px solid #222;
	border-right: 2px solid #222;
	border-top: 2px solid #222;
}

.left {
	width: 50px;
	height: 50px;
	border-bottom: 2px solid #222;
	border-right: 2px solid #222;
	border-left: 2px solid #222;
}

.start {
	background-color: rgb(220, 235, 86);
}

.end {
	background-color: rgb(86, 235, 131);
}

.search {
	background-color: rgb(74, 185, 204);
}

.path{
	background: rgb(74, 185, 204) url('../public/footsteps-silhouette-variant.png') no-repeat center center;
  	background-size: 70%; /* Optional, adjusts the size of the background image */
}

.generateBtn {
	padding: 0.5rem 0.5rem;
	margin: 1rem 0.5rem;
	font-size: 1rem;
	background-color: #fff;

	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius: 15px 255px;
	height: 40px;
	width: 130px;
	box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.2);
}

.generateBtn:hover {
	box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.4);
}

.generateBtn:active {
	box-shadow: 2px 8px 10px -6px hsla(0, 0%, 0%, 0.5);
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}

.solve {
	height: 30px;
	width: 100px;

	padding: 0.5rem 0.5rem;
	margin: 0.9rem 0.5rem;
	font-size: 0.9rem;
	border: solid 1px #222;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius: 15px 255px;

	box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.2);
}

.solve:hover {
	box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.4);
}

.solve:active {
	box-shadow: 2px 8px 10px -6px hsla(0, 0%, 0%, 0.5);
}

td {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

td.noright {
	border-right: 0px;
}

td.noleft {
	border-left: 0px;
}

td.notop {
	border-top: 0px;
}

td.nobottom {
	border-bottom: 0px;
}

.opis{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.4);
	width: 150px;
	height: 30px;
	margin-top: 15px;
}

.opis p{	
	margin:0px;
	padding:2px;
	color: #fff;
}

.opis .y{
	width: 20px;
	height: 20px;
	background-color: rgb(220, 235, 86);
	margin-left: 5px;
	margin-right: 10px;
}

.opis .g{
	width: 20px;
	height: 20px;
	background-color: rgb(86, 235, 131);
	margin-left: 5px;
}